livekit-agents==0.10.2
livekit-plugins-deepgram==0.6.8
livekit-plugins-openai==0.10.4
livekit-plugins-silero==0.7.2
livekit-plugins-elevenlabs==0.7.5   
livekit==0.17.5
livekit-api== 0.7.1
python-dotenv== 1.0.1
sentry-sdk==2.19.2
groq==0.13.0